@mixin gutter-vert($val) {
    margin-top: $val;
    margin-bottom: $val;
}

@mixin gutter-horiz($val) {
    margin-left: $val;
    margin-right: $val;
}

@mixin gutter($val) {
    @include gutter-vert($val);
    @include gutter-horiz($val);
}
