
@import "default/functions";
@import "default/variables";
@import "default/mixins";

.theme-parakeet {
    body {
        background-color: $body-background-color;
    }

    .page {
        background-color: $page-background-color;
    }

    .grid {
        background-color: $grid-background-color;
    }

    .block {
        background-color: $block-background-color;
    }
}
