
@import "default/functions";
@import "default/variables";
@import "default/mixins";

.pk.theme-parakeet {
    body {
        background-color: $body-background-color;
    }

    .pk.page {
        background-color: $page-background-color;
    }

    .pk.grid {
        background-color: $grid-background-color;
    }

    .pk.block {
        background-color: $block-background-color;
    }
}
