.flex-grow-0 {
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0; }

.flex-shrink-0 {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; }

.grow-1 {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.shrink-1 {
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1; }

.basis-1-1 {
  -webkit-flex-basis: 98%;
      -ms-flex-preferred-size: 98%;
          flex-basis: 98%; }

.width-1-1 {
  width: 98%; }

.view-width-1-1 {
  width: 98vw; }

.height-1-1 {
  height: 98%; }

.view-height-1-1 {
  height: 98vh; }

.basis-1-2 {
  -webkit-flex-basis: 48%;
      -ms-flex-preferred-size: 48%;
          flex-basis: 48%; }

.width-1-2 {
  width: 48%; }

.view-width-1-2 {
  width: 48vw; }

.height-1-2 {
  height: 48%; }

.view-height-1-2 {
  height: 48vh; }

.basis-1-3 {
  -webkit-flex-basis: 31.33333%;
      -ms-flex-preferred-size: 31.33333%;
          flex-basis: 31.33333%; }

.width-1-3 {
  width: 31.33333%; }

.view-width-1-3 {
  width: 31.33333vw; }

.height-1-3 {
  height: 31.33333%; }

.view-height-1-3 {
  height: 31.33333vh; }

.basis-1-4 {
  -webkit-flex-basis: 23%;
      -ms-flex-preferred-size: 23%;
          flex-basis: 23%; }

.width-1-4 {
  width: 23%; }

.view-width-1-4 {
  width: 23vw; }

.height-1-4 {
  height: 23%; }

.view-height-1-4 {
  height: 23vh; }

.basis-1-5 {
  -webkit-flex-basis: 18%;
      -ms-flex-preferred-size: 18%;
          flex-basis: 18%; }

.width-1-5 {
  width: 18%; }

.view-width-1-5 {
  width: 18vw; }

.height-1-5 {
  height: 18%; }

.view-height-1-5 {
  height: 18vh; }

.basis-1-6 {
  -webkit-flex-basis: 14.66667%;
      -ms-flex-preferred-size: 14.66667%;
          flex-basis: 14.66667%; }

.width-1-6 {
  width: 14.66667%; }

.view-width-1-6 {
  width: 14.66667vw; }

.height-1-6 {
  height: 14.66667%; }

.view-height-1-6 {
  height: 14.66667vh; }

.basis-1-7 {
  -webkit-flex-basis: 12.28571%;
      -ms-flex-preferred-size: 12.28571%;
          flex-basis: 12.28571%; }

.width-1-7 {
  width: 12.28571%; }

.view-width-1-7 {
  width: 12.28571vw; }

.height-1-7 {
  height: 12.28571%; }

.view-height-1-7 {
  height: 12.28571vh; }

.basis-1-8 {
  -webkit-flex-basis: 10.5%;
      -ms-flex-preferred-size: 10.5%;
          flex-basis: 10.5%; }

.width-1-8 {
  width: 10.5%; }

.view-width-1-8 {
  width: 10.5vw; }

.height-1-8 {
  height: 10.5%; }

.view-height-1-8 {
  height: 10.5vh; }

.basis-1-9 {
  -webkit-flex-basis: 9.11111%;
      -ms-flex-preferred-size: 9.11111%;
          flex-basis: 9.11111%; }

.width-1-9 {
  width: 9.11111%; }

.view-width-1-9 {
  width: 9.11111vw; }

.height-1-9 {
  height: 9.11111%; }

.view-height-1-9 {
  height: 9.11111vh; }

.basis-1-10 {
  -webkit-flex-basis: 8%;
      -ms-flex-preferred-size: 8%;
          flex-basis: 8%; }

.width-1-10 {
  width: 8%; }

.view-width-1-10 {
  width: 8vw; }

.height-1-10 {
  height: 8%; }

.view-height-1-10 {
  height: 8vh; }

.basis-1-11 {
  -webkit-flex-basis: 7.09091%;
      -ms-flex-preferred-size: 7.09091%;
          flex-basis: 7.09091%; }

.width-1-11 {
  width: 7.09091%; }

.view-width-1-11 {
  width: 7.09091vw; }

.height-1-11 {
  height: 7.09091%; }

.view-height-1-11 {
  height: 7.09091vh; }

.basis-1-12 {
  -webkit-flex-basis: 6.33333%;
      -ms-flex-preferred-size: 6.33333%;
          flex-basis: 6.33333%; }

.width-1-12 {
  width: 6.33333%; }

.view-width-1-12 {
  width: 6.33333vw; }

.height-1-12 {
  height: 6.33333%; }

.view-height-1-12 {
  height: 6.33333vh; }

.grow-2 {
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2; }

.shrink-2 {
  -webkit-flex-shrink: 2;
      -ms-flex-negative: 2;
          flex-shrink: 2; }

.basis-2-1 {
  -webkit-flex-basis: 198%;
      -ms-flex-preferred-size: 198%;
          flex-basis: 198%; }

.width-2-1 {
  width: 198%; }

.view-width-2-1 {
  width: 198vw; }

.height-2-1 {
  height: 198%; }

.view-height-2-1 {
  height: 198vh; }

.basis-2-2 {
  -webkit-flex-basis: 98%;
      -ms-flex-preferred-size: 98%;
          flex-basis: 98%; }

.width-2-2 {
  width: 98%; }

.view-width-2-2 {
  width: 98vw; }

.height-2-2 {
  height: 98%; }

.view-height-2-2 {
  height: 98vh; }

.basis-2-3 {
  -webkit-flex-basis: 64.66667%;
      -ms-flex-preferred-size: 64.66667%;
          flex-basis: 64.66667%; }

.width-2-3 {
  width: 64.66667%; }

.view-width-2-3 {
  width: 64.66667vw; }

.height-2-3 {
  height: 64.66667%; }

.view-height-2-3 {
  height: 64.66667vh; }

.basis-2-4 {
  -webkit-flex-basis: 48%;
      -ms-flex-preferred-size: 48%;
          flex-basis: 48%; }

.width-2-4 {
  width: 48%; }

.view-width-2-4 {
  width: 48vw; }

.height-2-4 {
  height: 48%; }

.view-height-2-4 {
  height: 48vh; }

.basis-2-5 {
  -webkit-flex-basis: 38%;
      -ms-flex-preferred-size: 38%;
          flex-basis: 38%; }

.width-2-5 {
  width: 38%; }

.view-width-2-5 {
  width: 38vw; }

.height-2-5 {
  height: 38%; }

.view-height-2-5 {
  height: 38vh; }

.basis-2-6 {
  -webkit-flex-basis: 31.33333%;
      -ms-flex-preferred-size: 31.33333%;
          flex-basis: 31.33333%; }

.width-2-6 {
  width: 31.33333%; }

.view-width-2-6 {
  width: 31.33333vw; }

.height-2-6 {
  height: 31.33333%; }

.view-height-2-6 {
  height: 31.33333vh; }

.basis-2-7 {
  -webkit-flex-basis: 26.57143%;
      -ms-flex-preferred-size: 26.57143%;
          flex-basis: 26.57143%; }

.width-2-7 {
  width: 26.57143%; }

.view-width-2-7 {
  width: 26.57143vw; }

.height-2-7 {
  height: 26.57143%; }

.view-height-2-7 {
  height: 26.57143vh; }

.basis-2-8 {
  -webkit-flex-basis: 23%;
      -ms-flex-preferred-size: 23%;
          flex-basis: 23%; }

.width-2-8 {
  width: 23%; }

.view-width-2-8 {
  width: 23vw; }

.height-2-8 {
  height: 23%; }

.view-height-2-8 {
  height: 23vh; }

.basis-2-9 {
  -webkit-flex-basis: 20.22222%;
      -ms-flex-preferred-size: 20.22222%;
          flex-basis: 20.22222%; }

.width-2-9 {
  width: 20.22222%; }

.view-width-2-9 {
  width: 20.22222vw; }

.height-2-9 {
  height: 20.22222%; }

.view-height-2-9 {
  height: 20.22222vh; }

.basis-2-10 {
  -webkit-flex-basis: 18%;
      -ms-flex-preferred-size: 18%;
          flex-basis: 18%; }

.width-2-10 {
  width: 18%; }

.view-width-2-10 {
  width: 18vw; }

.height-2-10 {
  height: 18%; }

.view-height-2-10 {
  height: 18vh; }

.basis-2-11 {
  -webkit-flex-basis: 16.18182%;
      -ms-flex-preferred-size: 16.18182%;
          flex-basis: 16.18182%; }

.width-2-11 {
  width: 16.18182%; }

.view-width-2-11 {
  width: 16.18182vw; }

.height-2-11 {
  height: 16.18182%; }

.view-height-2-11 {
  height: 16.18182vh; }

.basis-2-12 {
  -webkit-flex-basis: 14.66667%;
      -ms-flex-preferred-size: 14.66667%;
          flex-basis: 14.66667%; }

.width-2-12 {
  width: 14.66667%; }

.view-width-2-12 {
  width: 14.66667vw; }

.height-2-12 {
  height: 14.66667%; }

.view-height-2-12 {
  height: 14.66667vh; }

.grow-3 {
  -webkit-flex-grow: 3;
      -ms-flex-positive: 3;
          flex-grow: 3; }

.shrink-3 {
  -webkit-flex-shrink: 3;
      -ms-flex-negative: 3;
          flex-shrink: 3; }

.basis-3-1 {
  -webkit-flex-basis: 298%;
      -ms-flex-preferred-size: 298%;
          flex-basis: 298%; }

.width-3-1 {
  width: 298%; }

.view-width-3-1 {
  width: 298vw; }

.height-3-1 {
  height: 298%; }

.view-height-3-1 {
  height: 298vh; }

.basis-3-2 {
  -webkit-flex-basis: 148%;
      -ms-flex-preferred-size: 148%;
          flex-basis: 148%; }

.width-3-2 {
  width: 148%; }

.view-width-3-2 {
  width: 148vw; }

.height-3-2 {
  height: 148%; }

.view-height-3-2 {
  height: 148vh; }

.basis-3-3 {
  -webkit-flex-basis: 98%;
      -ms-flex-preferred-size: 98%;
          flex-basis: 98%; }

.width-3-3 {
  width: 98%; }

.view-width-3-3 {
  width: 98vw; }

.height-3-3 {
  height: 98%; }

.view-height-3-3 {
  height: 98vh; }

.basis-3-4 {
  -webkit-flex-basis: 73%;
      -ms-flex-preferred-size: 73%;
          flex-basis: 73%; }

.width-3-4 {
  width: 73%; }

.view-width-3-4 {
  width: 73vw; }

.height-3-4 {
  height: 73%; }

.view-height-3-4 {
  height: 73vh; }

.basis-3-5 {
  -webkit-flex-basis: 58%;
      -ms-flex-preferred-size: 58%;
          flex-basis: 58%; }

.width-3-5 {
  width: 58%; }

.view-width-3-5 {
  width: 58vw; }

.height-3-5 {
  height: 58%; }

.view-height-3-5 {
  height: 58vh; }

.basis-3-6 {
  -webkit-flex-basis: 48%;
      -ms-flex-preferred-size: 48%;
          flex-basis: 48%; }

.width-3-6 {
  width: 48%; }

.view-width-3-6 {
  width: 48vw; }

.height-3-6 {
  height: 48%; }

.view-height-3-6 {
  height: 48vh; }

.basis-3-7 {
  -webkit-flex-basis: 40.85714%;
      -ms-flex-preferred-size: 40.85714%;
          flex-basis: 40.85714%; }

.width-3-7 {
  width: 40.85714%; }

.view-width-3-7 {
  width: 40.85714vw; }

.height-3-7 {
  height: 40.85714%; }

.view-height-3-7 {
  height: 40.85714vh; }

.basis-3-8 {
  -webkit-flex-basis: 35.5%;
      -ms-flex-preferred-size: 35.5%;
          flex-basis: 35.5%; }

.width-3-8 {
  width: 35.5%; }

.view-width-3-8 {
  width: 35.5vw; }

.height-3-8 {
  height: 35.5%; }

.view-height-3-8 {
  height: 35.5vh; }

.basis-3-9 {
  -webkit-flex-basis: 31.33333%;
      -ms-flex-preferred-size: 31.33333%;
          flex-basis: 31.33333%; }

.width-3-9 {
  width: 31.33333%; }

.view-width-3-9 {
  width: 31.33333vw; }

.height-3-9 {
  height: 31.33333%; }

.view-height-3-9 {
  height: 31.33333vh; }

.basis-3-10 {
  -webkit-flex-basis: 28%;
      -ms-flex-preferred-size: 28%;
          flex-basis: 28%; }

.width-3-10 {
  width: 28%; }

.view-width-3-10 {
  width: 28vw; }

.height-3-10 {
  height: 28%; }

.view-height-3-10 {
  height: 28vh; }

.basis-3-11 {
  -webkit-flex-basis: 25.27273%;
      -ms-flex-preferred-size: 25.27273%;
          flex-basis: 25.27273%; }

.width-3-11 {
  width: 25.27273%; }

.view-width-3-11 {
  width: 25.27273vw; }

.height-3-11 {
  height: 25.27273%; }

.view-height-3-11 {
  height: 25.27273vh; }

.basis-3-12 {
  -webkit-flex-basis: 23%;
      -ms-flex-preferred-size: 23%;
          flex-basis: 23%; }

.width-3-12 {
  width: 23%; }

.view-width-3-12 {
  width: 23vw; }

.height-3-12 {
  height: 23%; }

.view-height-3-12 {
  height: 23vh; }

.grow-4 {
  -webkit-flex-grow: 4;
      -ms-flex-positive: 4;
          flex-grow: 4; }

.shrink-4 {
  -webkit-flex-shrink: 4;
      -ms-flex-negative: 4;
          flex-shrink: 4; }

.basis-4-1 {
  -webkit-flex-basis: 398%;
      -ms-flex-preferred-size: 398%;
          flex-basis: 398%; }

.width-4-1 {
  width: 398%; }

.view-width-4-1 {
  width: 398vw; }

.height-4-1 {
  height: 398%; }

.view-height-4-1 {
  height: 398vh; }

.basis-4-2 {
  -webkit-flex-basis: 198%;
      -ms-flex-preferred-size: 198%;
          flex-basis: 198%; }

.width-4-2 {
  width: 198%; }

.view-width-4-2 {
  width: 198vw; }

.height-4-2 {
  height: 198%; }

.view-height-4-2 {
  height: 198vh; }

.basis-4-3 {
  -webkit-flex-basis: 131.33333%;
      -ms-flex-preferred-size: 131.33333%;
          flex-basis: 131.33333%; }

.width-4-3 {
  width: 131.33333%; }

.view-width-4-3 {
  width: 131.33333vw; }

.height-4-3 {
  height: 131.33333%; }

.view-height-4-3 {
  height: 131.33333vh; }

.basis-4-4 {
  -webkit-flex-basis: 98%;
      -ms-flex-preferred-size: 98%;
          flex-basis: 98%; }

.width-4-4 {
  width: 98%; }

.view-width-4-4 {
  width: 98vw; }

.height-4-4 {
  height: 98%; }

.view-height-4-4 {
  height: 98vh; }

.basis-4-5 {
  -webkit-flex-basis: 78%;
      -ms-flex-preferred-size: 78%;
          flex-basis: 78%; }

.width-4-5 {
  width: 78%; }

.view-width-4-5 {
  width: 78vw; }

.height-4-5 {
  height: 78%; }

.view-height-4-5 {
  height: 78vh; }

.basis-4-6 {
  -webkit-flex-basis: 64.66667%;
      -ms-flex-preferred-size: 64.66667%;
          flex-basis: 64.66667%; }

.width-4-6 {
  width: 64.66667%; }

.view-width-4-6 {
  width: 64.66667vw; }

.height-4-6 {
  height: 64.66667%; }

.view-height-4-6 {
  height: 64.66667vh; }

.basis-4-7 {
  -webkit-flex-basis: 55.14286%;
      -ms-flex-preferred-size: 55.14286%;
          flex-basis: 55.14286%; }

.width-4-7 {
  width: 55.14286%; }

.view-width-4-7 {
  width: 55.14286vw; }

.height-4-7 {
  height: 55.14286%; }

.view-height-4-7 {
  height: 55.14286vh; }

.basis-4-8 {
  -webkit-flex-basis: 48%;
      -ms-flex-preferred-size: 48%;
          flex-basis: 48%; }

.width-4-8 {
  width: 48%; }

.view-width-4-8 {
  width: 48vw; }

.height-4-8 {
  height: 48%; }

.view-height-4-8 {
  height: 48vh; }

.basis-4-9 {
  -webkit-flex-basis: 42.44444%;
      -ms-flex-preferred-size: 42.44444%;
          flex-basis: 42.44444%; }

.width-4-9 {
  width: 42.44444%; }

.view-width-4-9 {
  width: 42.44444vw; }

.height-4-9 {
  height: 42.44444%; }

.view-height-4-9 {
  height: 42.44444vh; }

.basis-4-10 {
  -webkit-flex-basis: 38%;
      -ms-flex-preferred-size: 38%;
          flex-basis: 38%; }

.width-4-10 {
  width: 38%; }

.view-width-4-10 {
  width: 38vw; }

.height-4-10 {
  height: 38%; }

.view-height-4-10 {
  height: 38vh; }

.basis-4-11 {
  -webkit-flex-basis: 34.36364%;
      -ms-flex-preferred-size: 34.36364%;
          flex-basis: 34.36364%; }

.width-4-11 {
  width: 34.36364%; }

.view-width-4-11 {
  width: 34.36364vw; }

.height-4-11 {
  height: 34.36364%; }

.view-height-4-11 {
  height: 34.36364vh; }

.basis-4-12 {
  -webkit-flex-basis: 31.33333%;
      -ms-flex-preferred-size: 31.33333%;
          flex-basis: 31.33333%; }

.width-4-12 {
  width: 31.33333%; }

.view-width-4-12 {
  width: 31.33333vw; }

.height-4-12 {
  height: 31.33333%; }

.view-height-4-12 {
  height: 31.33333vh; }

.grow-5 {
  -webkit-flex-grow: 5;
      -ms-flex-positive: 5;
          flex-grow: 5; }

.shrink-5 {
  -webkit-flex-shrink: 5;
      -ms-flex-negative: 5;
          flex-shrink: 5; }

.basis-5-1 {
  -webkit-flex-basis: 498%;
      -ms-flex-preferred-size: 498%;
          flex-basis: 498%; }

.width-5-1 {
  width: 498%; }

.view-width-5-1 {
  width: 498vw; }

.height-5-1 {
  height: 498%; }

.view-height-5-1 {
  height: 498vh; }

.basis-5-2 {
  -webkit-flex-basis: 248%;
      -ms-flex-preferred-size: 248%;
          flex-basis: 248%; }

.width-5-2 {
  width: 248%; }

.view-width-5-2 {
  width: 248vw; }

.height-5-2 {
  height: 248%; }

.view-height-5-2 {
  height: 248vh; }

.basis-5-3 {
  -webkit-flex-basis: 164.66667%;
      -ms-flex-preferred-size: 164.66667%;
          flex-basis: 164.66667%; }

.width-5-3 {
  width: 164.66667%; }

.view-width-5-3 {
  width: 164.66667vw; }

.height-5-3 {
  height: 164.66667%; }

.view-height-5-3 {
  height: 164.66667vh; }

.basis-5-4 {
  -webkit-flex-basis: 123%;
      -ms-flex-preferred-size: 123%;
          flex-basis: 123%; }

.width-5-4 {
  width: 123%; }

.view-width-5-4 {
  width: 123vw; }

.height-5-4 {
  height: 123%; }

.view-height-5-4 {
  height: 123vh; }

.basis-5-5 {
  -webkit-flex-basis: 98%;
      -ms-flex-preferred-size: 98%;
          flex-basis: 98%; }

.width-5-5 {
  width: 98%; }

.view-width-5-5 {
  width: 98vw; }

.height-5-5 {
  height: 98%; }

.view-height-5-5 {
  height: 98vh; }

.basis-5-6 {
  -webkit-flex-basis: 81.33333%;
      -ms-flex-preferred-size: 81.33333%;
          flex-basis: 81.33333%; }

.width-5-6 {
  width: 81.33333%; }

.view-width-5-6 {
  width: 81.33333vw; }

.height-5-6 {
  height: 81.33333%; }

.view-height-5-6 {
  height: 81.33333vh; }

.basis-5-7 {
  -webkit-flex-basis: 69.42857%;
      -ms-flex-preferred-size: 69.42857%;
          flex-basis: 69.42857%; }

.width-5-7 {
  width: 69.42857%; }

.view-width-5-7 {
  width: 69.42857vw; }

.height-5-7 {
  height: 69.42857%; }

.view-height-5-7 {
  height: 69.42857vh; }

.basis-5-8 {
  -webkit-flex-basis: 60.5%;
      -ms-flex-preferred-size: 60.5%;
          flex-basis: 60.5%; }

.width-5-8 {
  width: 60.5%; }

.view-width-5-8 {
  width: 60.5vw; }

.height-5-8 {
  height: 60.5%; }

.view-height-5-8 {
  height: 60.5vh; }

.basis-5-9 {
  -webkit-flex-basis: 53.55556%;
      -ms-flex-preferred-size: 53.55556%;
          flex-basis: 53.55556%; }

.width-5-9 {
  width: 53.55556%; }

.view-width-5-9 {
  width: 53.55556vw; }

.height-5-9 {
  height: 53.55556%; }

.view-height-5-9 {
  height: 53.55556vh; }

.basis-5-10 {
  -webkit-flex-basis: 48%;
      -ms-flex-preferred-size: 48%;
          flex-basis: 48%; }

.width-5-10 {
  width: 48%; }

.view-width-5-10 {
  width: 48vw; }

.height-5-10 {
  height: 48%; }

.view-height-5-10 {
  height: 48vh; }

.basis-5-11 {
  -webkit-flex-basis: 43.45455%;
      -ms-flex-preferred-size: 43.45455%;
          flex-basis: 43.45455%; }

.width-5-11 {
  width: 43.45455%; }

.view-width-5-11 {
  width: 43.45455vw; }

.height-5-11 {
  height: 43.45455%; }

.view-height-5-11 {
  height: 43.45455vh; }

.basis-5-12 {
  -webkit-flex-basis: 39.66667%;
      -ms-flex-preferred-size: 39.66667%;
          flex-basis: 39.66667%; }

.width-5-12 {
  width: 39.66667%; }

.view-width-5-12 {
  width: 39.66667vw; }

.height-5-12 {
  height: 39.66667%; }

.view-height-5-12 {
  height: 39.66667vh; }

.grow-6 {
  -webkit-flex-grow: 6;
      -ms-flex-positive: 6;
          flex-grow: 6; }

.shrink-6 {
  -webkit-flex-shrink: 6;
      -ms-flex-negative: 6;
          flex-shrink: 6; }

.basis-6-1 {
  -webkit-flex-basis: 598%;
      -ms-flex-preferred-size: 598%;
          flex-basis: 598%; }

.width-6-1 {
  width: 598%; }

.view-width-6-1 {
  width: 598vw; }

.height-6-1 {
  height: 598%; }

.view-height-6-1 {
  height: 598vh; }

.basis-6-2 {
  -webkit-flex-basis: 298%;
      -ms-flex-preferred-size: 298%;
          flex-basis: 298%; }

.width-6-2 {
  width: 298%; }

.view-width-6-2 {
  width: 298vw; }

.height-6-2 {
  height: 298%; }

.view-height-6-2 {
  height: 298vh; }

.basis-6-3 {
  -webkit-flex-basis: 198%;
      -ms-flex-preferred-size: 198%;
          flex-basis: 198%; }

.width-6-3 {
  width: 198%; }

.view-width-6-3 {
  width: 198vw; }

.height-6-3 {
  height: 198%; }

.view-height-6-3 {
  height: 198vh; }

.basis-6-4 {
  -webkit-flex-basis: 148%;
      -ms-flex-preferred-size: 148%;
          flex-basis: 148%; }

.width-6-4 {
  width: 148%; }

.view-width-6-4 {
  width: 148vw; }

.height-6-4 {
  height: 148%; }

.view-height-6-4 {
  height: 148vh; }

.basis-6-5 {
  -webkit-flex-basis: 118%;
      -ms-flex-preferred-size: 118%;
          flex-basis: 118%; }

.width-6-5 {
  width: 118%; }

.view-width-6-5 {
  width: 118vw; }

.height-6-5 {
  height: 118%; }

.view-height-6-5 {
  height: 118vh; }

.basis-6-6 {
  -webkit-flex-basis: 98%;
      -ms-flex-preferred-size: 98%;
          flex-basis: 98%; }

.width-6-6 {
  width: 98%; }

.view-width-6-6 {
  width: 98vw; }

.height-6-6 {
  height: 98%; }

.view-height-6-6 {
  height: 98vh; }

.basis-6-7 {
  -webkit-flex-basis: 83.71429%;
      -ms-flex-preferred-size: 83.71429%;
          flex-basis: 83.71429%; }

.width-6-7 {
  width: 83.71429%; }

.view-width-6-7 {
  width: 83.71429vw; }

.height-6-7 {
  height: 83.71429%; }

.view-height-6-7 {
  height: 83.71429vh; }

.basis-6-8 {
  -webkit-flex-basis: 73%;
      -ms-flex-preferred-size: 73%;
          flex-basis: 73%; }

.width-6-8 {
  width: 73%; }

.view-width-6-8 {
  width: 73vw; }

.height-6-8 {
  height: 73%; }

.view-height-6-8 {
  height: 73vh; }

.basis-6-9 {
  -webkit-flex-basis: 64.66667%;
      -ms-flex-preferred-size: 64.66667%;
          flex-basis: 64.66667%; }

.width-6-9 {
  width: 64.66667%; }

.view-width-6-9 {
  width: 64.66667vw; }

.height-6-9 {
  height: 64.66667%; }

.view-height-6-9 {
  height: 64.66667vh; }

.basis-6-10 {
  -webkit-flex-basis: 58%;
      -ms-flex-preferred-size: 58%;
          flex-basis: 58%; }

.width-6-10 {
  width: 58%; }

.view-width-6-10 {
  width: 58vw; }

.height-6-10 {
  height: 58%; }

.view-height-6-10 {
  height: 58vh; }

.basis-6-11 {
  -webkit-flex-basis: 52.54545%;
      -ms-flex-preferred-size: 52.54545%;
          flex-basis: 52.54545%; }

.width-6-11 {
  width: 52.54545%; }

.view-width-6-11 {
  width: 52.54545vw; }

.height-6-11 {
  height: 52.54545%; }

.view-height-6-11 {
  height: 52.54545vh; }

.basis-6-12 {
  -webkit-flex-basis: 48%;
      -ms-flex-preferred-size: 48%;
          flex-basis: 48%; }

.width-6-12 {
  width: 48%; }

.view-width-6-12 {
  width: 48vw; }

.height-6-12 {
  height: 48%; }

.view-height-6-12 {
  height: 48vh; }

.grow-7 {
  -webkit-flex-grow: 7;
      -ms-flex-positive: 7;
          flex-grow: 7; }

.shrink-7 {
  -webkit-flex-shrink: 7;
      -ms-flex-negative: 7;
          flex-shrink: 7; }

.basis-7-1 {
  -webkit-flex-basis: 698%;
      -ms-flex-preferred-size: 698%;
          flex-basis: 698%; }

.width-7-1 {
  width: 698%; }

.view-width-7-1 {
  width: 698vw; }

.height-7-1 {
  height: 698%; }

.view-height-7-1 {
  height: 698vh; }

.basis-7-2 {
  -webkit-flex-basis: 348%;
      -ms-flex-preferred-size: 348%;
          flex-basis: 348%; }

.width-7-2 {
  width: 348%; }

.view-width-7-2 {
  width: 348vw; }

.height-7-2 {
  height: 348%; }

.view-height-7-2 {
  height: 348vh; }

.basis-7-3 {
  -webkit-flex-basis: 231.33333%;
      -ms-flex-preferred-size: 231.33333%;
          flex-basis: 231.33333%; }

.width-7-3 {
  width: 231.33333%; }

.view-width-7-3 {
  width: 231.33333vw; }

.height-7-3 {
  height: 231.33333%; }

.view-height-7-3 {
  height: 231.33333vh; }

.basis-7-4 {
  -webkit-flex-basis: 173%;
      -ms-flex-preferred-size: 173%;
          flex-basis: 173%; }

.width-7-4 {
  width: 173%; }

.view-width-7-4 {
  width: 173vw; }

.height-7-4 {
  height: 173%; }

.view-height-7-4 {
  height: 173vh; }

.basis-7-5 {
  -webkit-flex-basis: 138%;
      -ms-flex-preferred-size: 138%;
          flex-basis: 138%; }

.width-7-5 {
  width: 138%; }

.view-width-7-5 {
  width: 138vw; }

.height-7-5 {
  height: 138%; }

.view-height-7-5 {
  height: 138vh; }

.basis-7-6 {
  -webkit-flex-basis: 114.66667%;
      -ms-flex-preferred-size: 114.66667%;
          flex-basis: 114.66667%; }

.width-7-6 {
  width: 114.66667%; }

.view-width-7-6 {
  width: 114.66667vw; }

.height-7-6 {
  height: 114.66667%; }

.view-height-7-6 {
  height: 114.66667vh; }

.basis-7-7 {
  -webkit-flex-basis: 98%;
      -ms-flex-preferred-size: 98%;
          flex-basis: 98%; }

.width-7-7 {
  width: 98%; }

.view-width-7-7 {
  width: 98vw; }

.height-7-7 {
  height: 98%; }

.view-height-7-7 {
  height: 98vh; }

.basis-7-8 {
  -webkit-flex-basis: 85.5%;
      -ms-flex-preferred-size: 85.5%;
          flex-basis: 85.5%; }

.width-7-8 {
  width: 85.5%; }

.view-width-7-8 {
  width: 85.5vw; }

.height-7-8 {
  height: 85.5%; }

.view-height-7-8 {
  height: 85.5vh; }

.basis-7-9 {
  -webkit-flex-basis: 75.77778%;
      -ms-flex-preferred-size: 75.77778%;
          flex-basis: 75.77778%; }

.width-7-9 {
  width: 75.77778%; }

.view-width-7-9 {
  width: 75.77778vw; }

.height-7-9 {
  height: 75.77778%; }

.view-height-7-9 {
  height: 75.77778vh; }

.basis-7-10 {
  -webkit-flex-basis: 68%;
      -ms-flex-preferred-size: 68%;
          flex-basis: 68%; }

.width-7-10 {
  width: 68%; }

.view-width-7-10 {
  width: 68vw; }

.height-7-10 {
  height: 68%; }

.view-height-7-10 {
  height: 68vh; }

.basis-7-11 {
  -webkit-flex-basis: 61.63636%;
      -ms-flex-preferred-size: 61.63636%;
          flex-basis: 61.63636%; }

.width-7-11 {
  width: 61.63636%; }

.view-width-7-11 {
  width: 61.63636vw; }

.height-7-11 {
  height: 61.63636%; }

.view-height-7-11 {
  height: 61.63636vh; }

.basis-7-12 {
  -webkit-flex-basis: 56.33333%;
      -ms-flex-preferred-size: 56.33333%;
          flex-basis: 56.33333%; }

.width-7-12 {
  width: 56.33333%; }

.view-width-7-12 {
  width: 56.33333vw; }

.height-7-12 {
  height: 56.33333%; }

.view-height-7-12 {
  height: 56.33333vh; }

.grow-8 {
  -webkit-flex-grow: 8;
      -ms-flex-positive: 8;
          flex-grow: 8; }

.shrink-8 {
  -webkit-flex-shrink: 8;
      -ms-flex-negative: 8;
          flex-shrink: 8; }

.basis-8-1 {
  -webkit-flex-basis: 798%;
      -ms-flex-preferred-size: 798%;
          flex-basis: 798%; }

.width-8-1 {
  width: 798%; }

.view-width-8-1 {
  width: 798vw; }

.height-8-1 {
  height: 798%; }

.view-height-8-1 {
  height: 798vh; }

.basis-8-2 {
  -webkit-flex-basis: 398%;
      -ms-flex-preferred-size: 398%;
          flex-basis: 398%; }

.width-8-2 {
  width: 398%; }

.view-width-8-2 {
  width: 398vw; }

.height-8-2 {
  height: 398%; }

.view-height-8-2 {
  height: 398vh; }

.basis-8-3 {
  -webkit-flex-basis: 264.66667%;
      -ms-flex-preferred-size: 264.66667%;
          flex-basis: 264.66667%; }

.width-8-3 {
  width: 264.66667%; }

.view-width-8-3 {
  width: 264.66667vw; }

.height-8-3 {
  height: 264.66667%; }

.view-height-8-3 {
  height: 264.66667vh; }

.basis-8-4 {
  -webkit-flex-basis: 198%;
      -ms-flex-preferred-size: 198%;
          flex-basis: 198%; }

.width-8-4 {
  width: 198%; }

.view-width-8-4 {
  width: 198vw; }

.height-8-4 {
  height: 198%; }

.view-height-8-4 {
  height: 198vh; }

.basis-8-5 {
  -webkit-flex-basis: 158%;
      -ms-flex-preferred-size: 158%;
          flex-basis: 158%; }

.width-8-5 {
  width: 158%; }

.view-width-8-5 {
  width: 158vw; }

.height-8-5 {
  height: 158%; }

.view-height-8-5 {
  height: 158vh; }

.basis-8-6 {
  -webkit-flex-basis: 131.33333%;
      -ms-flex-preferred-size: 131.33333%;
          flex-basis: 131.33333%; }

.width-8-6 {
  width: 131.33333%; }

.view-width-8-6 {
  width: 131.33333vw; }

.height-8-6 {
  height: 131.33333%; }

.view-height-8-6 {
  height: 131.33333vh; }

.basis-8-7 {
  -webkit-flex-basis: 112.28571%;
      -ms-flex-preferred-size: 112.28571%;
          flex-basis: 112.28571%; }

.width-8-7 {
  width: 112.28571%; }

.view-width-8-7 {
  width: 112.28571vw; }

.height-8-7 {
  height: 112.28571%; }

.view-height-8-7 {
  height: 112.28571vh; }

.basis-8-8 {
  -webkit-flex-basis: 98%;
      -ms-flex-preferred-size: 98%;
          flex-basis: 98%; }

.width-8-8 {
  width: 98%; }

.view-width-8-8 {
  width: 98vw; }

.height-8-8 {
  height: 98%; }

.view-height-8-8 {
  height: 98vh; }

.basis-8-9 {
  -webkit-flex-basis: 86.88889%;
      -ms-flex-preferred-size: 86.88889%;
          flex-basis: 86.88889%; }

.width-8-9 {
  width: 86.88889%; }

.view-width-8-9 {
  width: 86.88889vw; }

.height-8-9 {
  height: 86.88889%; }

.view-height-8-9 {
  height: 86.88889vh; }

.basis-8-10 {
  -webkit-flex-basis: 78%;
      -ms-flex-preferred-size: 78%;
          flex-basis: 78%; }

.width-8-10 {
  width: 78%; }

.view-width-8-10 {
  width: 78vw; }

.height-8-10 {
  height: 78%; }

.view-height-8-10 {
  height: 78vh; }

.basis-8-11 {
  -webkit-flex-basis: 70.72727%;
      -ms-flex-preferred-size: 70.72727%;
          flex-basis: 70.72727%; }

.width-8-11 {
  width: 70.72727%; }

.view-width-8-11 {
  width: 70.72727vw; }

.height-8-11 {
  height: 70.72727%; }

.view-height-8-11 {
  height: 70.72727vh; }

.basis-8-12 {
  -webkit-flex-basis: 64.66667%;
      -ms-flex-preferred-size: 64.66667%;
          flex-basis: 64.66667%; }

.width-8-12 {
  width: 64.66667%; }

.view-width-8-12 {
  width: 64.66667vw; }

.height-8-12 {
  height: 64.66667%; }

.view-height-8-12 {
  height: 64.66667vh; }

.grow-9 {
  -webkit-flex-grow: 9;
      -ms-flex-positive: 9;
          flex-grow: 9; }

.shrink-9 {
  -webkit-flex-shrink: 9;
      -ms-flex-negative: 9;
          flex-shrink: 9; }

.basis-9-1 {
  -webkit-flex-basis: 898%;
      -ms-flex-preferred-size: 898%;
          flex-basis: 898%; }

.width-9-1 {
  width: 898%; }

.view-width-9-1 {
  width: 898vw; }

.height-9-1 {
  height: 898%; }

.view-height-9-1 {
  height: 898vh; }

.basis-9-2 {
  -webkit-flex-basis: 448%;
      -ms-flex-preferred-size: 448%;
          flex-basis: 448%; }

.width-9-2 {
  width: 448%; }

.view-width-9-2 {
  width: 448vw; }

.height-9-2 {
  height: 448%; }

.view-height-9-2 {
  height: 448vh; }

.basis-9-3 {
  -webkit-flex-basis: 298%;
      -ms-flex-preferred-size: 298%;
          flex-basis: 298%; }

.width-9-3 {
  width: 298%; }

.view-width-9-3 {
  width: 298vw; }

.height-9-3 {
  height: 298%; }

.view-height-9-3 {
  height: 298vh; }

.basis-9-4 {
  -webkit-flex-basis: 223%;
      -ms-flex-preferred-size: 223%;
          flex-basis: 223%; }

.width-9-4 {
  width: 223%; }

.view-width-9-4 {
  width: 223vw; }

.height-9-4 {
  height: 223%; }

.view-height-9-4 {
  height: 223vh; }

.basis-9-5 {
  -webkit-flex-basis: 178%;
      -ms-flex-preferred-size: 178%;
          flex-basis: 178%; }

.width-9-5 {
  width: 178%; }

.view-width-9-5 {
  width: 178vw; }

.height-9-5 {
  height: 178%; }

.view-height-9-5 {
  height: 178vh; }

.basis-9-6 {
  -webkit-flex-basis: 148%;
      -ms-flex-preferred-size: 148%;
          flex-basis: 148%; }

.width-9-6 {
  width: 148%; }

.view-width-9-6 {
  width: 148vw; }

.height-9-6 {
  height: 148%; }

.view-height-9-6 {
  height: 148vh; }

.basis-9-7 {
  -webkit-flex-basis: 126.57143%;
      -ms-flex-preferred-size: 126.57143%;
          flex-basis: 126.57143%; }

.width-9-7 {
  width: 126.57143%; }

.view-width-9-7 {
  width: 126.57143vw; }

.height-9-7 {
  height: 126.57143%; }

.view-height-9-7 {
  height: 126.57143vh; }

.basis-9-8 {
  -webkit-flex-basis: 110.5%;
      -ms-flex-preferred-size: 110.5%;
          flex-basis: 110.5%; }

.width-9-8 {
  width: 110.5%; }

.view-width-9-8 {
  width: 110.5vw; }

.height-9-8 {
  height: 110.5%; }

.view-height-9-8 {
  height: 110.5vh; }

.basis-9-9 {
  -webkit-flex-basis: 98%;
      -ms-flex-preferred-size: 98%;
          flex-basis: 98%; }

.width-9-9 {
  width: 98%; }

.view-width-9-9 {
  width: 98vw; }

.height-9-9 {
  height: 98%; }

.view-height-9-9 {
  height: 98vh; }

.basis-9-10 {
  -webkit-flex-basis: 88%;
      -ms-flex-preferred-size: 88%;
          flex-basis: 88%; }

.width-9-10 {
  width: 88%; }

.view-width-9-10 {
  width: 88vw; }

.height-9-10 {
  height: 88%; }

.view-height-9-10 {
  height: 88vh; }

.basis-9-11 {
  -webkit-flex-basis: 79.81818%;
      -ms-flex-preferred-size: 79.81818%;
          flex-basis: 79.81818%; }

.width-9-11 {
  width: 79.81818%; }

.view-width-9-11 {
  width: 79.81818vw; }

.height-9-11 {
  height: 79.81818%; }

.view-height-9-11 {
  height: 79.81818vh; }

.basis-9-12 {
  -webkit-flex-basis: 73%;
      -ms-flex-preferred-size: 73%;
          flex-basis: 73%; }

.width-9-12 {
  width: 73%; }

.view-width-9-12 {
  width: 73vw; }

.height-9-12 {
  height: 73%; }

.view-height-9-12 {
  height: 73vh; }

.grow-10 {
  -webkit-flex-grow: 10;
      -ms-flex-positive: 10;
          flex-grow: 10; }

.shrink-10 {
  -webkit-flex-shrink: 10;
      -ms-flex-negative: 10;
          flex-shrink: 10; }

.basis-10-1 {
  -webkit-flex-basis: 998%;
      -ms-flex-preferred-size: 998%;
          flex-basis: 998%; }

.width-10-1 {
  width: 998%; }

.view-width-10-1 {
  width: 998vw; }

.height-10-1 {
  height: 998%; }

.view-height-10-1 {
  height: 998vh; }

.basis-10-2 {
  -webkit-flex-basis: 498%;
      -ms-flex-preferred-size: 498%;
          flex-basis: 498%; }

.width-10-2 {
  width: 498%; }

.view-width-10-2 {
  width: 498vw; }

.height-10-2 {
  height: 498%; }

.view-height-10-2 {
  height: 498vh; }

.basis-10-3 {
  -webkit-flex-basis: 331.33333%;
      -ms-flex-preferred-size: 331.33333%;
          flex-basis: 331.33333%; }

.width-10-3 {
  width: 331.33333%; }

.view-width-10-3 {
  width: 331.33333vw; }

.height-10-3 {
  height: 331.33333%; }

.view-height-10-3 {
  height: 331.33333vh; }

.basis-10-4 {
  -webkit-flex-basis: 248%;
      -ms-flex-preferred-size: 248%;
          flex-basis: 248%; }

.width-10-4 {
  width: 248%; }

.view-width-10-4 {
  width: 248vw; }

.height-10-4 {
  height: 248%; }

.view-height-10-4 {
  height: 248vh; }

.basis-10-5 {
  -webkit-flex-basis: 198%;
      -ms-flex-preferred-size: 198%;
          flex-basis: 198%; }

.width-10-5 {
  width: 198%; }

.view-width-10-5 {
  width: 198vw; }

.height-10-5 {
  height: 198%; }

.view-height-10-5 {
  height: 198vh; }

.basis-10-6 {
  -webkit-flex-basis: 164.66667%;
      -ms-flex-preferred-size: 164.66667%;
          flex-basis: 164.66667%; }

.width-10-6 {
  width: 164.66667%; }

.view-width-10-6 {
  width: 164.66667vw; }

.height-10-6 {
  height: 164.66667%; }

.view-height-10-6 {
  height: 164.66667vh; }

.basis-10-7 {
  -webkit-flex-basis: 140.85714%;
      -ms-flex-preferred-size: 140.85714%;
          flex-basis: 140.85714%; }

.width-10-7 {
  width: 140.85714%; }

.view-width-10-7 {
  width: 140.85714vw; }

.height-10-7 {
  height: 140.85714%; }

.view-height-10-7 {
  height: 140.85714vh; }

.basis-10-8 {
  -webkit-flex-basis: 123%;
      -ms-flex-preferred-size: 123%;
          flex-basis: 123%; }

.width-10-8 {
  width: 123%; }

.view-width-10-8 {
  width: 123vw; }

.height-10-8 {
  height: 123%; }

.view-height-10-8 {
  height: 123vh; }

.basis-10-9 {
  -webkit-flex-basis: 109.11111%;
      -ms-flex-preferred-size: 109.11111%;
          flex-basis: 109.11111%; }

.width-10-9 {
  width: 109.11111%; }

.view-width-10-9 {
  width: 109.11111vw; }

.height-10-9 {
  height: 109.11111%; }

.view-height-10-9 {
  height: 109.11111vh; }

.basis-10-10 {
  -webkit-flex-basis: 98%;
      -ms-flex-preferred-size: 98%;
          flex-basis: 98%; }

.width-10-10 {
  width: 98%; }

.view-width-10-10 {
  width: 98vw; }

.height-10-10 {
  height: 98%; }

.view-height-10-10 {
  height: 98vh; }

.basis-10-11 {
  -webkit-flex-basis: 88.90909%;
      -ms-flex-preferred-size: 88.90909%;
          flex-basis: 88.90909%; }

.width-10-11 {
  width: 88.90909%; }

.view-width-10-11 {
  width: 88.90909vw; }

.height-10-11 {
  height: 88.90909%; }

.view-height-10-11 {
  height: 88.90909vh; }

.basis-10-12 {
  -webkit-flex-basis: 81.33333%;
      -ms-flex-preferred-size: 81.33333%;
          flex-basis: 81.33333%; }

.width-10-12 {
  width: 81.33333%; }

.view-width-10-12 {
  width: 81.33333vw; }

.height-10-12 {
  height: 81.33333%; }

.view-height-10-12 {
  height: 81.33333vh; }

.grow-11 {
  -webkit-flex-grow: 11;
      -ms-flex-positive: 11;
          flex-grow: 11; }

.shrink-11 {
  -webkit-flex-shrink: 11;
      -ms-flex-negative: 11;
          flex-shrink: 11; }

.basis-11-1 {
  -webkit-flex-basis: 1098%;
      -ms-flex-preferred-size: 1098%;
          flex-basis: 1098%; }

.width-11-1 {
  width: 1098%; }

.view-width-11-1 {
  width: 1098vw; }

.height-11-1 {
  height: 1098%; }

.view-height-11-1 {
  height: 1098vh; }

.basis-11-2 {
  -webkit-flex-basis: 548%;
      -ms-flex-preferred-size: 548%;
          flex-basis: 548%; }

.width-11-2 {
  width: 548%; }

.view-width-11-2 {
  width: 548vw; }

.height-11-2 {
  height: 548%; }

.view-height-11-2 {
  height: 548vh; }

.basis-11-3 {
  -webkit-flex-basis: 364.66667%;
      -ms-flex-preferred-size: 364.66667%;
          flex-basis: 364.66667%; }

.width-11-3 {
  width: 364.66667%; }

.view-width-11-3 {
  width: 364.66667vw; }

.height-11-3 {
  height: 364.66667%; }

.view-height-11-3 {
  height: 364.66667vh; }

.basis-11-4 {
  -webkit-flex-basis: 273%;
      -ms-flex-preferred-size: 273%;
          flex-basis: 273%; }

.width-11-4 {
  width: 273%; }

.view-width-11-4 {
  width: 273vw; }

.height-11-4 {
  height: 273%; }

.view-height-11-4 {
  height: 273vh; }

.basis-11-5 {
  -webkit-flex-basis: 218%;
      -ms-flex-preferred-size: 218%;
          flex-basis: 218%; }

.width-11-5 {
  width: 218%; }

.view-width-11-5 {
  width: 218vw; }

.height-11-5 {
  height: 218%; }

.view-height-11-5 {
  height: 218vh; }

.basis-11-6 {
  -webkit-flex-basis: 181.33333%;
      -ms-flex-preferred-size: 181.33333%;
          flex-basis: 181.33333%; }

.width-11-6 {
  width: 181.33333%; }

.view-width-11-6 {
  width: 181.33333vw; }

.height-11-6 {
  height: 181.33333%; }

.view-height-11-6 {
  height: 181.33333vh; }

.basis-11-7 {
  -webkit-flex-basis: 155.14286%;
      -ms-flex-preferred-size: 155.14286%;
          flex-basis: 155.14286%; }

.width-11-7 {
  width: 155.14286%; }

.view-width-11-7 {
  width: 155.14286vw; }

.height-11-7 {
  height: 155.14286%; }

.view-height-11-7 {
  height: 155.14286vh; }

.basis-11-8 {
  -webkit-flex-basis: 135.5%;
      -ms-flex-preferred-size: 135.5%;
          flex-basis: 135.5%; }

.width-11-8 {
  width: 135.5%; }

.view-width-11-8 {
  width: 135.5vw; }

.height-11-8 {
  height: 135.5%; }

.view-height-11-8 {
  height: 135.5vh; }

.basis-11-9 {
  -webkit-flex-basis: 120.22222%;
      -ms-flex-preferred-size: 120.22222%;
          flex-basis: 120.22222%; }

.width-11-9 {
  width: 120.22222%; }

.view-width-11-9 {
  width: 120.22222vw; }

.height-11-9 {
  height: 120.22222%; }

.view-height-11-9 {
  height: 120.22222vh; }

.basis-11-10 {
  -webkit-flex-basis: 108%;
      -ms-flex-preferred-size: 108%;
          flex-basis: 108%; }

.width-11-10 {
  width: 108%; }

.view-width-11-10 {
  width: 108vw; }

.height-11-10 {
  height: 108%; }

.view-height-11-10 {
  height: 108vh; }

.basis-11-11 {
  -webkit-flex-basis: 98%;
      -ms-flex-preferred-size: 98%;
          flex-basis: 98%; }

.width-11-11 {
  width: 98%; }

.view-width-11-11 {
  width: 98vw; }

.height-11-11 {
  height: 98%; }

.view-height-11-11 {
  height: 98vh; }

.basis-11-12 {
  -webkit-flex-basis: 89.66667%;
      -ms-flex-preferred-size: 89.66667%;
          flex-basis: 89.66667%; }

.width-11-12 {
  width: 89.66667%; }

.view-width-11-12 {
  width: 89.66667vw; }

.height-11-12 {
  height: 89.66667%; }

.view-height-11-12 {
  height: 89.66667vh; }

.grow-12 {
  -webkit-flex-grow: 12;
      -ms-flex-positive: 12;
          flex-grow: 12; }

.shrink-12 {
  -webkit-flex-shrink: 12;
      -ms-flex-negative: 12;
          flex-shrink: 12; }

.basis-12-1 {
  -webkit-flex-basis: 1198%;
      -ms-flex-preferred-size: 1198%;
          flex-basis: 1198%; }

.width-12-1 {
  width: 1198%; }

.view-width-12-1 {
  width: 1198vw; }

.height-12-1 {
  height: 1198%; }

.view-height-12-1 {
  height: 1198vh; }

.basis-12-2 {
  -webkit-flex-basis: 598%;
      -ms-flex-preferred-size: 598%;
          flex-basis: 598%; }

.width-12-2 {
  width: 598%; }

.view-width-12-2 {
  width: 598vw; }

.height-12-2 {
  height: 598%; }

.view-height-12-2 {
  height: 598vh; }

.basis-12-3 {
  -webkit-flex-basis: 398%;
      -ms-flex-preferred-size: 398%;
          flex-basis: 398%; }

.width-12-3 {
  width: 398%; }

.view-width-12-3 {
  width: 398vw; }

.height-12-3 {
  height: 398%; }

.view-height-12-3 {
  height: 398vh; }

.basis-12-4 {
  -webkit-flex-basis: 298%;
      -ms-flex-preferred-size: 298%;
          flex-basis: 298%; }

.width-12-4 {
  width: 298%; }

.view-width-12-4 {
  width: 298vw; }

.height-12-4 {
  height: 298%; }

.view-height-12-4 {
  height: 298vh; }

.basis-12-5 {
  -webkit-flex-basis: 238%;
      -ms-flex-preferred-size: 238%;
          flex-basis: 238%; }

.width-12-5 {
  width: 238%; }

.view-width-12-5 {
  width: 238vw; }

.height-12-5 {
  height: 238%; }

.view-height-12-5 {
  height: 238vh; }

.basis-12-6 {
  -webkit-flex-basis: 198%;
      -ms-flex-preferred-size: 198%;
          flex-basis: 198%; }

.width-12-6 {
  width: 198%; }

.view-width-12-6 {
  width: 198vw; }

.height-12-6 {
  height: 198%; }

.view-height-12-6 {
  height: 198vh; }

.basis-12-7 {
  -webkit-flex-basis: 169.42857%;
      -ms-flex-preferred-size: 169.42857%;
          flex-basis: 169.42857%; }

.width-12-7 {
  width: 169.42857%; }

.view-width-12-7 {
  width: 169.42857vw; }

.height-12-7 {
  height: 169.42857%; }

.view-height-12-7 {
  height: 169.42857vh; }

.basis-12-8 {
  -webkit-flex-basis: 148%;
      -ms-flex-preferred-size: 148%;
          flex-basis: 148%; }

.width-12-8 {
  width: 148%; }

.view-width-12-8 {
  width: 148vw; }

.height-12-8 {
  height: 148%; }

.view-height-12-8 {
  height: 148vh; }

.basis-12-9 {
  -webkit-flex-basis: 131.33333%;
      -ms-flex-preferred-size: 131.33333%;
          flex-basis: 131.33333%; }

.width-12-9 {
  width: 131.33333%; }

.view-width-12-9 {
  width: 131.33333vw; }

.height-12-9 {
  height: 131.33333%; }

.view-height-12-9 {
  height: 131.33333vh; }

.basis-12-10 {
  -webkit-flex-basis: 118%;
      -ms-flex-preferred-size: 118%;
          flex-basis: 118%; }

.width-12-10 {
  width: 118%; }

.view-width-12-10 {
  width: 118vw; }

.height-12-10 {
  height: 118%; }

.view-height-12-10 {
  height: 118vh; }

.basis-12-11 {
  -webkit-flex-basis: 107.09091%;
      -ms-flex-preferred-size: 107.09091%;
          flex-basis: 107.09091%; }

.width-12-11 {
  width: 107.09091%; }

.view-width-12-11 {
  width: 107.09091vw; }

.height-12-11 {
  height: 107.09091%; }

.view-height-12-11 {
  height: 107.09091vh; }

.basis-12-12 {
  -webkit-flex-basis: 98%;
      -ms-flex-preferred-size: 98%;
          flex-basis: 98%; }

.width-12-12 {
  width: 98%; }

.view-width-12-12 {
  width: 98vw; }

.height-12-12 {
  height: 98%; }

.view-height-12-12 {
  height: 98vh; }

.page {
  padding: 10px;
  padding: 0.625rem;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box; }

.grid, .grid-vertical, .grid-vertical-reverse, .grid-reverse {
  padding: 10px;
  padding: 0.625rem;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }
  .grid.align-start, .align-start.grid-vertical, .align-start.grid-vertical-reverse, .align-start.grid-reverse {
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .grid.align-end, .align-end.grid-vertical, .align-end.grid-vertical-reverse, .align-end.grid-reverse {
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .grid.align-center, .align-center.grid-vertical, .align-center.grid-vertical-reverse, .align-center.grid-reverse {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .grid.align-baseline, .align-baseline.grid-vertical, .align-baseline.grid-vertical-reverse, .align-baseline.grid-reverse {
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; }
  .grid.align-stretch, .align-stretch.grid-vertical, .align-stretch.grid-vertical-reverse, .align-stretch.grid-reverse {
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .grid.align-inherit, .align-inherit.grid-vertical, .align-inherit.grid-vertical-reverse, .align-inherit.grid-reverse {
    -webkit-align-items: inherit;
        -ms-flex-align: inherit;
            align-items: inherit; }
  .grid.justify-start, .justify-start.grid-vertical, .justify-start.grid-vertical-reverse, .justify-start.grid-reverse {
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .grid.justify-end, .justify-end.grid-vertical, .justify-end.grid-vertical-reverse, .justify-end.grid-reverse {
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .grid.justify-center, .justify-center.grid-vertical, .justify-center.grid-vertical-reverse, .justify-center.grid-reverse {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .grid.justify-around, .justify-around.grid-vertical, .justify-around.grid-vertical-reverse, .justify-around.grid-reverse {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .grid.justify-between, .justify-between.grid-vertical, .justify-between.grid-vertical-reverse, .justify-between.grid-reverse {
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .grid.justify-inherit, .justify-inherit.grid-vertical, .justify-inherit.grid-vertical-reverse, .justify-inherit.grid-reverse {
    -webkit-justify-content: inherit;
        -ms-flex-pack: inherit;
            justify-content: inherit; }
  .grid.no-gutter, .no-gutter.grid-vertical, .no-gutter.grid-vertical-reverse, .no-gutter.grid-reverse {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0; }
  .grid.no-gutter-vertical, .no-gutter-vertical.grid-vertical, .no-gutter-vertical.grid-vertical-reverse, .no-gutter-vertical.grid-reverse {
    margin-top: 0;
    margin-bottom: 0; }
  .grid.no-gutter-horizontal, .no-gutter-horizontal.grid-vertical, .no-gutter-horizontal.grid-vertical-reverse, .no-gutter-horizontal.grid-reverse {
    margin-left: 0;
    margin-right: 0; }
  .no-flexbox .grid:after, .no-flexbox .grid-vertical:after, .no-flexbox .grid-vertical-reverse:after, .no-flexbox .grid-reverse:after {
    content: "";
    display: table;
    clear: both; }

.grid-inline {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.grid-vertical, .grid-vertical-reverse {
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.grid-reverse {
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }
  .grid-reverse.grid-vertical, .grid-reverse.grid-vertical-reverse {
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }

.grid-vertical-reverse {
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; }

.grid-wrap {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.grid-nowrap {
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }

.grid-wrap-reverse {
  -webkit-flex-wrap: wrap-reverse;
      -ms-flex-wrap: wrap-reverse;
          flex-wrap: wrap-reverse; }

.block {
  padding: 10px;
  padding: 0.625rem;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
  box-sizing: border-box;
  position: relative;
  word-wrap: break-word;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto; }
  .block.align-self-start {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start; }
  .block.align-self-end {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end; }
  .block.align-self-center {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center; }
  .block.align-self-baseline {
    -webkit-align-self: baseline;
        -ms-flex-item-align: baseline;
            align-self: baseline; }
  .block.align-self-stretch {
    -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
            align-self: stretch; }
  .block.align-self-inherit {
    -webkit-align-self: inherit;
        -ms-flex-item-align: inherit;
            align-self: inherit; }
  .block.no-gutter {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0; }
  .block.no-gutter-vertical {
    margin-top: 0;
    margin-bottom: 0; }
  .block.no-gutter-horizontal {
    margin-left: 0;
    margin-right: 0; }
  .no-flexbox .block {
    float: left; }

.no-gutter {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0; }

.no-gutter-vertical {
  margin-top: 0;
  margin-bottom: 0; }

.no-gutter-horizontal {
  margin-left: 0;
  margin-right: 0; }

.theme-parakeet body {
  background-color: #eee; }
.theme-parakeet .page {
  background-color: #ddd; }
.theme-parakeet .grid, .theme-parakeet .grid-vertical, .theme-parakeet .grid-vertical-reverse, .theme-parakeet .grid-reverse {
  background-color: #ccc; }
.theme-parakeet .block {
  background-color: #bbb; }


/*# sourceMappingURL=maps/main.css.map */